<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    </head>
    <body>
        
        <div th:insert="fragment/main.html :: header"  />
        
        <div>ESTE ES HOME</div>
        <div th:text="${nombredeBSS}" ></div>
        <br /><span>Librito de Moz</span>
        <div th:text="${libroMdeBSS}" ></div>
        
        
        
        <ul th:each="per:${recordList}" >
            <li th:text="${per.name}"> </li>
        </ul>
        
        <br />
        <br />
        <br />
        
        <ul th:each="rm:${recordMap}" >
            <li th:text="${rm.person.name}"> </li>
            <li th:text="${rm.person.lastName}"> </li>
        </ul>
        
        <div th:insert="fragment/main.html :: footer"  />
        
    </body>
</html>
