<!DOCTYPE html>
<html lang="en-US" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!--<script src="http://localhost:8080/gradletest-0/script/jquery-3.3.1.min.js"></script>-->
        

    </head>
    <body>
        
        <div id="errorMsg" > </div>
        <form id="loginform" action="/springtest-0/curious/" method="post" enctype="application/x-www-form-urlencoded" >
            
                
        </form>
        
<!--        <script type="text/javascript"
                src="/webjars/jquery/3.3.1-1/jquery.min.js"
        th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>-->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
     
        <script type="text/javascript" >


        //this object will contain the the whole definition to work with.
        var definition = undefined;

        $(document).ready(function()
        {

        //http://localhost:8080
            $.get("/springtest-0/loadLogin", function( data, status )
            {   
//                console.log( status );
//                if( status === "200" )
//                {
                definition = data;
                loadData("#loginform",data);
//                }
                
            });

        });
        
        
        
        
        
      /**
       * 
       * @param {type} elem html element to attach generated elements
       * @param {type} data json object that contains all the data to parse
       * @returns {undefined}
       */
        function loadData( elem, data )
        {
            
                for( x = 0; x < data.length ; x++ )        
                {
                    var obj = data[ x ]; 

                     var lmnt =  document.createElement( obj.element );
                     
                      //add type if input
                     if( obj.element === "input" )
                     {
                         lmnt.setAttribute( "type", obj.type );
                     }

                    //set ID to element if is not undefined
                    if( obj.id !== undefined )
                     {
                         lmnt.setAttribute( "id", obj.id );
                     }

                    //setAllAttributes Here...
                    addAttributes( lmnt, obj.prop );
                     
                     //if there is innerHTML, put it inside the element
                     if( obj.inner.trim() !== "" && obj.inner.trim() !== undefined )
                     {
                         console.log( "entra al trim" );
                         lmnt.text( obj.inner );
                     }

                     //adding childs to form
                     document.querySelector( elem ).appendChild( lmnt );
                     
                     //this is to add a breaking line to the form elements
                     document.querySelector( elem ).appendChild( document.createElement( "br" ) );

                }
 
                  
        }//
        
        
        /**
         * this function add all attributes to defined element
         * @param {type} elem html element that receives all the attributes
         * @param {type} attrs attributes to pass
         * @returns {undefined}
         */
        function addAttributes( elem, attrs )
        {
//            console.log( attrs );
            
            for( var i in attrs )
              {
  
                for( var j in attrs[ i ] )
                {
//                    console.log( j );
//                    console.log( attrs[ i ][ j ] );
                    elem.setAttribute( j, attrs[ i ][ j ] );
                }
              
              }
            
        }//
        
        
       /**
        * * this function will validate the whole form
        * field by field and will show error message in 
        * defined errorElement
        * @param {type} errorElem
        * @returns {undefined}
        */
        function validate( errorElem )
        {
            
            for( x = 0; x < definition.length ; x++ )        
                {
                    var obj = definition[ x ]; 
                    
                    //console.log( obj )

                // if some field have restrictions
                if( obj.restricts !== undefined )
                {
                    var rest = obj.restricts;
                   
                    //console.log(rest)
                
                    rest.forEach( function( val, i )
                    {
                        
                        for( var y in val )
                        {        
                          console.log( "ind "+i+" key: "+y+" val: "+val[ y ]  );
                        
                            switch( y )
                            {
                                
                case "required":
                    //validate if is required field
                    if( val[ y ] )
                    {
                       /* var elemId = document.getElementById( obj.id );
                        if( elemId.  )
                        {
                            
                        }
                        */
                    }
                    
                    break;
                                
                                
                            }//
        
                }
                        
                    });
                    
                    
                }
                    


                }//
            
            //this is for test only, should return true
            //to submit form
            return false;
            
        }//
        
        
        
        /*
         * 
           function getMemberDetails(userID) {
            $.ajax({
                url: "../Handlers/GetMemberDetails.ashx",
                data: { uID: userID },
                dataType: "json",
                async: false,
                success: getMemberDetSucc,
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        }
        function getMemberDetSucc(resultSet) {
            $(resultSet).each(function (i, MemberData) {
                alert(MemberData.strFName + " " + MemberData.strLName);
                $('#memName').append('<td style="text-align:left"><label id="lbl_MemName">'+MemberData.strFName+" "+MemberData.strLName+'</label></td>');
            })
        }
        $(document).ready(function () {
            document.getElementById('showPopup').onclick = getDetails;
            function getDetails() {
                getMemberDetails("1");
            }
          });
         * 
         * 
         * HAY QUE CHECAR ESTOS ELEMENTOS:
         * button
         * checkbox
         * radio
         * email
         * password
         * submit
         * url
         * select
         * textarea
         * option
         * file
         * text
         * 
         * 
         */
        </script>
    </body>
</html>
